body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Roboto";
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

a, .text-two {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.header, .container-one {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.text-one {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.left {
    margin-right: 60px;
}

.header, .container-one, .container-four {
    padding: 20px 150px 50px 150px;
}

.container-three {
    background-color: #E5E7EB ;
    display: flex;
    padding: 100px 250px;
    flex-direction: column;

}

img {
    width: 450px;
}

button {
    background-color: #3882F6;
    border-radius: 4px;
    font-size: 14px;
    color: white;
    margin-top: 8px;
    padding: 5px;
    width: 100px;
    border: none;
}

.infos {
    text-align: center;
    margin-top: 25px;
    font-size: 36px;
    color: #1F2937;
    font-weight: bolder;
}

.container-two {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding-left: 250px;
    padding-right: 250px;
}

.info {
    max-width: 175px;
}

.box {
    height: 175px;
    width: 175px;
    border: solid #3882F6;
    border-radius: 15px;
    margin-bottom: 10px;
    margin-top: 25px;
}

.footer {
    margin-top: auto;
    text-align: center;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 20px;
}

.info .text {
    text-align: center;
    margin-bottom: 100px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.author {
    align-self: flex-end;
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
}

.button {
    border: 2px solid white;
}

.container {
    display: flex;
    justify-content: space-between;
    background-color: #3882F6;
    padding: 50px;
    border-radius: 8px;
}

.container-four {
    padding-top: 50px;
    padding-bottom: 50px;
}

.action {
    font-size: 18px;
    font-weight: 900;
    color: #F9FAF8;
}

.lefty .text {
    color: #F9FAF8;
}